html,
body,
#root,
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.flex-main-height {
  display: flex;
  height: 100%;
  flex-direction: column;
}
p,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
